* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ans-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: rgb(207, 144, 60);
  height: auto;
  font-size: 35px;
  padding: 30px;
}

#questions {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.container {
  background-color: rgb(131, 172, 199);
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.controls {
  margin: 100px auto;
}

#start {
  font-size: 40px;
  background-color: teal;
}

#hall0fFame {
  font-size: 40px;
}

#scores {
  font-size: 30px;
}

input {
  font-size: 30px;
}

#submit {
  font-size: 30px;
}

#question-card {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 2px;
  background-color: aqua;
}

#answer {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.timer {
  display: flex;
  justify-content: flex-start;
  font-size: 50px;
  padding: 30px;
}

.hide {
  display: none !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: yellowgreen;
  margin: 0 auto;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#topscores {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
